<div class="item-info">
  <div class="item-name">
    <p>エマスリープ</p>
  </div>
  <div class="item-image">
    <img src="/images/main-emma.jpg" />
  </div>
  <div class="item-price">
    ¥108,000~
  </div>
  <div class="review-summary">
    <span>総合評価</span>
    <img class="review-summary-star" src="/images/star-4.svg">
  </div>
  <div class="cv-buttons">
    <a href="https://hb.afl.rakuten.co.jp/ichiba/31d8d064.6a828d2f.31d8d065.80475f4d/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fkoalasleep%2F101-0035%2F&link_type=hybrid_url&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJoeWJyaWRfdXJsIiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MSwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjAsImFtcCI6ZmFsc2V9" class="outline-button">
      楽天で商品情報を見る
    </a>
    <a href="https://amzn.to/3VrQVRV" class="outline-button">
      Amazonで商品情報を見る
    </a>
  </div>
  <div class="review">
    <img src="/images/graph-emma.png" />
  </div>
  <div class="category-ranking">
    <h3 class="item-sub-section-title">ランキング情報</h3>
    <div class="all-rank no3">
      <i class="fa fa-crown"></i>
      睡眠ログ総合3位
    </div>
    <ul class="category-rank-list">
      <li class="category-rank-item no3">
        <p>男性</p>
      </li>
      <li class="category-rank-item no3">
        <p>女性</p>
      </li>
      <li class="category-rank-item no2">
        <p>18歳〜</p>
      </li>
      <li class="category-rank-item no3">
        <p>20歳〜</p>
      </li>
      <li class="category-rank-item no3">
        <p>30歳〜</p>
      </li>
      <li class="category-rank-item no3">
        <p>40歳〜</p>
      </li>
      <li class="category-rank-item no3">
        <p>50歳〜</p>
      </li>
      <li class="category-rank-item">
        <p>60歳〜</p>
      </li>
      <li class="category-rank-item no2">
        <p>~40kg</p>
      </li>
      <li class="category-rank-item no3">
        <p>~50kg</p>
      </li>
      <li class="category-rank-item no3">
        <p>~60kg</p>
      </li>
      <li class="category-rank-item no3">
        <p>~70kg</p>
      </li>
      <li class="category-rank-item no3">
        <p>71kg~</p>
      </li>
      <li class="category-rank-item no3">
        <p>営業職</p>
      </li>
      <li class="category-rank-item">
        <p>デスクワーク職</p>
      </li>
      <li class="category-rank-item no3">
        <p>サービス職</p>
      </li>
      <li class="category-rank-item no3">
        <p>医療従事者・整体師</p>
      </li>
      <li class="category-rank-item no3">
        <p>学生（医療、身体関係）</p>
      </li>
    </ul>
  </div>
</div>

<div>
  <h3 class="item-sub-section-title">商品情報</h3>
  <dl class="detail-info">
    <dt>サイズ展開</dt>
    <dd>
      <ul>
        <li class="active">シングル</li>
        <li class="active">セミダブル</li>
        <li class="active">ダブル</li>
        <li class="active">クイーン</li>
        <li class="active">キング</li>
      </ul>
    </dd>

    <dt>価格</dt>
    <dd>¥108,000~</dd>

    <dt>保証期間</dt>
    <dd>10年間</dd>

    <dt>決済方法</dt>
    <dd>
      <ul>
        <li class="active">AmazonPay</li>
        <li class="active">AMEX</li>
        <li class="active">JCB</li>
        <li class="active">MasterCard</li>
        <li class="active">VISA</li>
        <li class="active">Paidy</li>
      </ul>
    </dd>
  </dl>
</div>

<div>
  <div class="expert-review-title">
    <h3 class="item-sub-section-title">専門家レビュー</h3>
      <div class="scroll">
        <i class="fa fa-arrows-left-right"></i>
      </div>
  </div>
  <div class="expert-review">
    <img src="/images/emma-review-nakatomi.png">
    <img src="/images/emma-review-kimura.png">
    <img src="/images/emma-review-koshiishi.png">
    <img src="/images/emma-review-masaki.png">
  </div>
</div>