<!-- <script>
const swiper = new Swiper('.swiper', {
  slidesPerView: 1,
  spaceBetween: 24,
  centeredSlides: false,
  loop: true,
  pagination: {

  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  breakpoints: {
    1024: {
      slidesPerView: 2,
      spaceBetween: 48,
    },
  },
});
</script> -->

<script>
   $(document).ready(function() {
     $('.drawer').drawer();
     $('.c-header__navLink').click(function(){
        $('.drawer').drawer('close');
     });
   });
</script>

</body>
</html>
