<div class="l-footer c-footer">
  <div class="l-footer__inner">
   <div class="c-footer__logo">
     <a href="/"><img src="https://aeontown-sc-enterprise-production-public.s3.ap-northeast-1.amazonaws.com/enterprise_logo.png" /></a>
   </div>
   <nav class="c-footer__nav">
      <ul class="c-footer__navInner">
        <li class="c-footer__navItem">
          <a href="https://www.aeontown.co.jp/" target="_blank" rel="noopener noreferrer" class="c-footer__navLink">企業情報</a>
        </li>
        <li class="c-footer__navItem">
          <a href="/terms" class="c-footer__navLink">利用規約</a>
        </li>
        <li class="c-footer__navItem">
          <a href="/faq" class="c-footer__navLink">よくあるご質問</a>
        </li>
        <li class="c-footer__navItem">
          <a href="/lease/buildings" class="c-footer__navLink">募集施設一覧</a>
        </li> 
        <li class="c-footer__navItem">
          <a href="/lease/spaces" class="c-footer__navLink">募集区画一覧</a>
        </li> 
        <li class="c-footer__navItem">
          <a href="/lease/inquiries" class="c-footer__navLink">お問い合わせ</a>
        </li>
      </ul>
   </nav>
   <p class="c-footer__copyright">Copyright © 2023, AEON TOWN Co.,Ltd.All rights reserved.</p>
  </div>
</div>