<!DOCTYPE html>
<html>
  <head>
    <title>あなたに合ったマットレスが見つかる！人気のマットレス 6ブランド徹底比較</title>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a30dcd0e06.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content='ja_JP' property='og:locale'>
  </head>
