<div class="l-header c-header">
   <div class="c-header__logo">
      <a href="/"><img src="https://aeontown-sc-enterprise-production-public.s3.ap-northeast-1.amazonaws.com/enterprise_logo.png" /></a>
      </div>
   <div class="c-header__toggle drawer-toggle">
      <i class="c-header__bars fal fa-bars"></i>
      <i class="c-header__times fal fa-times"></i>
   </div>
   <nav class="c-header__nav drawer-nav" role="navigation">
      <ul class="c-header__navInner drawer-menu">
         <li class="c-header__navItem">
            <a href="/faq" class="c-header__navLink">よくあるご質問</a>
         </li>
         <li class="c-header__navItem">
            <a href="/lease/spaces" class="c-footer__navLink">出店できる区画を探す</a>
         </li>
      </ul>
      <p class="c-header__contact"><a href="/lease/inquiries" class="c-button c-button--primary">出店お問い合わせ</a></p>
   </nav>
</div>
