<div class="item-info-summary">
  <div class="item-name">
    <p>NELL</p>
  </div>
  <div class="item-image">
    <img src="/images/main-nell.jpg" />
  </div>
  <div class="item-price">
    ¥75,000~
  </div>
  <div class="review-summary">
    <span>総合評価</span>
    <img class="review-summary-star" src="/images/star-3.5.svg">
  </div>
  <div class="cv-buttons">
    <a href="https://px.a8.net/svt/ejp?a8mat=3T8FRS+4FK6WI+4KD8+5ZEMQ" class="outline-button">
      公式サイトで商品情報を見る
    </a>
  </div>
  <div class="review">
    <img src="/images/graph-nell.png" />
  </div>
</div>

<div class="category-ranking">
  <h3 class="item-sub-section-title">ランキング情報</h3>
  <div class="all-rank no4">
    <i class="fa fa-crown"></i>
    睡眠ログ総合4位
  </div>
  <ul class="category-rank-list">
    <li class="category-rank-item no4">
      <p>男性</p>
    </li>
    <li class="category-rank-item no4">
      <p>女性</p>
    </li>
    <li class="category-rank-item no4">
      <p>18歳〜</p>
    </li>
    <li class="category-rank-item no4">
      <p>20歳〜</p>
    </li>
    <li class="category-rank-item no4">
      <p>30歳〜</p>
    </li>
    <li class="category-rank-item no4">
      <p>40歳〜</p>
    </li>
    <li class="category-rank-item no2">
      <p>50歳〜</p>
    </li>
    <li class="category-rank-item no3">
      <p>60歳〜</p>
    </li>
    <li class="category-rank-item no4">
      <p>~40kg</p>
    </li>
    <li class="category-rank-item no4">
      <p>~50kg</p>
    </li>
    <li class="category-rank-item no4">
      <p>~60kg</p>
    </li>
    <li class="category-rank-item no4">
      <p>~70kg</p>
    </li>
    <li class="category-rank-item no4">
      <p>71kg~</p>
    </li>
    <li class="category-rank-item no4">
      <p>営業職</p>
    </li>
    <li class="category-rank-item no3">
      <p>デスクワーク職</p>
    </li>
    <li class="category-rank-item no4">
      <p>サービス職</p>
    </li>
    <li class="category-rank-item no4">
      <p>医療従事者・整体師</p>
    </li>
    <li class="category-rank-item no4">
      <p>学生（医療、身体関係）</p>
    </li>
  </ul>
</div>

<div>
  <h3 class="item-sub-section-title">商品情報</h3>
  <dl class="detail-info">
    <dt>サイズ展開</dt>
    <dd>
      <ul>
        <li class="active">シングル</li>
        <li class="active">セミダブル</li>
        <li class="active">ダブル</li>
        <li class="active">クイーン</li>
        <li class="active">キング</li>
      </ul>
    </dd>

    <dt>価格</dt>
    <dd>¥75,000~</dd>

    <dt>保証期間</dt>
    <dd>10年間</dd>

    <dt>決済方法</dt>
    <dd>
      <ul>
        <li class="active">VISA</li>
        <li class="active">MasterCard</li>
        <li class="active">JCB</li>
        <li class="active">AMEX</li>
        <li class="active">Diners</li>
        <li class="active">Discover</li>
        <li class="active">Smartpay</li>
        <li class="active">デビッド・プリペイドカード</li>
      </ul>
    </dd>
  </dl>
</div>

<div>
  <div class="expert-review-title">
    <h3 class="item-sub-section-title">専門家レビュー</h3>
      <div class="scroll">
        <i class="fa fa-arrows-left-right"></i>
      </div>
  </div>
  <div class="expert-review">
    <img src="/images/nell-review-nakatomi.png">
    <img src="/images/nell-review-kimura.png">
    <img src="/images/nell-review-koshiishi.png">
    <img src="/images/nell-review-masaki.png">
  </div>
</div>