<div class="item-info-summary">
  <div class="item-name">
    <p>トゥルースリーパー</p>
  </div>
  <div class="item-image">
    <img src="/images/main-truesleeper.jpg" />
  </div>
  <div class="item-price">
    ¥67,000~
  </div>
  <div class="review-summary">
    <span>総合評価</span>
    <img class="review-summary-star" src="/images/star-2.5.svg">
  </div>
  <div class="cv-buttons">
    <a href="https://px.a8.net/svt/ejp?a8mat=3T8FRS+4HCHPU+3DYK+614CY" class="outline-button">
      公式サイトで商品情報を見る
    </a>
    <a href="https://hb.afl.rakuten.co.jp/ichiba/31d8d69a.20dfd899.31d8d69b.ba4ac35d/?pc=https%3A%2F%2Fitem.rakuten.co.jp%2Fshopjapan%2Ftrpr-s%2F&link_type=hybrid_url&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJoeWJyaWRfdXJsIiwic2l6ZSI6IjB4MCIsIm5hbSI6MSwibmFtcCI6InJpZ2h0IiwiY29tIjoxLCJjb21wIjoiZG93biIsInByaWNlIjoxLCJib3IiOjEsImNvbCI6MSwiYmJ0biI6MSwicHJvZCI6MCwiYW1wIjpmYWxzZX0%3D" class="outline-button">
      楽天で商品情報を見る
    </a>
    <a href="https://amzn.to/428w3Bk" class="outline-button">
      Amazonで商品情報を見る
    </a>
  </div>
  <div class="review">
    <img src="/images/graph-truesleeper.png" />
  </div>
</div>

<div class="category-ranking hidden">
  <h3 class="item-sub-section-title">ランキング情報</h3>
  <div class="all-rank no6">
    <i class="fa fa-crown"></i>
    睡眠ログ総合6位
  </div>
  <ul class="category-rank-list">
    <li class="category-rank-item no6">
      <p>男性</p>
    </li>
    <li class="category-rank-item no6">
      <p>女性</p>
    </li>
    <li class="category-rank-item no5">
      <p>18歳〜</p>
    </li>
    <li class="category-rank-item no6">
      <p>20歳〜</p>
    </li>
    <li class="category-rank-item no5">
      <p>30歳〜</p>
    </li>
    <li class="category-rank-item no6">
      <p>40歳〜</p>
    </li>
    <li class="category-rank-item no6">
      <p>50歳〜</p>
    </li>
    <li class="category-rank-item no6">
      <p>60歳〜</p>
    </li>
    <li class="category-rank-item no5">
      <p>~40kg</p>
    </li>
    <li class="category-rank-item no6">
      <p>~50kg</p>
    </li>
    <li class="category-rank-item no5">
      <p>~60kg</p>
    </li>
    <li class="category-rank-item no6">
      <p>~70kg</p>
    </li>
    <li class="category-rank-item no6">
      <p>71kg~</p>
    </li>
    <li class="category-rank-item no5">
      <p>営業職</p>
    </li>
    <li class="category-rank-item no6">
      <p>デスクワーク職</p>
    </li>
    <li class="category-rank-item no6">
      <p>サービス職</p>
    </li>
    <li class="category-rank-item no6">
      <p>医療従事者・整体師</p>
    </li>
    <li class="category-rank-item no6">
      <p>学生（医療、身体関係）</p>
    </li>
  </ul>
</div>

<div>
  <h3 class="item-sub-section-title">商品情報</h3>
  <dl class="detail-info">
    <dt>サイズ展開</dt>
    <dd>
      <ul>
        <li class="active">シングル</li>
        <li class="active">セミダブル</li>
        <li class="active">ダブル</li>
        <li class="active">クイーン</li>
        <li>キング</li>
      </ul>
    </dd>

    <dt>価格</dt>
    <dd>¥67,000~</dd>

    <dt>保証期間</dt>
    <dd>3年間</dd>

    <dt>決済方法</dt>
    <dd>
      <ul>
        <li class="active">クレジットカード</li>
        <li class="active">代金引換</li>
        <li class="active">後払い</li>
        <li class="active">d払い</li>
        <li class="active">AmazonPay</li>
        <li class="active">分割払い（ショッピングクレジット）</li>
      </ul>
    </dd>
  </dl>
</div>

<div>
  <div class="expert-review-title">
    <h3 class="item-sub-section-title">専門家レビュー</h3>
      <div class="scroll">
        <i class="fa fa-arrows-left-right"></i>
      </div>
  </div>
  <div class="expert-review">
    <img src="/images/truesleeper-review-nakatomi.png">
    <img src="/images/truesleeper-review-kimura.png">
    <img src="/images/truesleeper-review-koshiishi.png">
    <img src="/images/truesleeper-review-masaki.png">
  </div>
</div>