@use '../../foundation/_helpers' as*;

.c-footer {
  background: #fff;
  padding: 48px 96px;
  @media screen and (max-width: 1024px) {
    margin: 0;
    padding: 48px 24px;
  }
  &__inner {
    max-width: 1120px;
    margin: 0 auto;
  }
  &__nav {
  }
  &__navInner {
    display: flex;
    @media screen and (max-width: 1024px) {
      display: block;
    }
  }
  &__navItem {
    margin: 0 32px 0 0;
    @media screen and (max-width: 1024px) {
      margin: 0 0 24px 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:last-child a {
      padding-right: 0;
    }
  }
  &__navLink {
    @media screen and (max-width: 1024px) {
      padding: 0;
    }
    color: $color-text;
    font-weight: bold;
    &:hover {
      color: $color-link-hover;
    }
  }
  &__logo {
    widows: 200px;
    padding: 0 0 24px 0;
    img {
      width: 200px;
      height: auto;
      @media screen and (max-width: 1024px) {
        width: auto;
        height: 40px;
      }
    }
  }
  &__copyright {
    margin: 24px 0 0 0;
    @include font-size(12);
  }
}
