@use "../../foundation/_helpers" as *;

.c-mv {
  width: 100%;
  height: 560px;
  overflow: hidden;
  background: url("/k/images/mv.jpg") center center no-repeat;
  background-size: cover;
  @media screen and (max-width: 1024px) {
    height: 320px;
  }
  &--small {
    height: 240px;
    @media screen and (max-width: 1024px) {
      height: 160px;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    @media screen and (max-width: 1024px) {
      display: block;
    }
    height: 100%;
    box-sizing: border-box;
  }
  &__text {
    align-self: center;
    z-index: 11;
    padding: 0 48px 0 96px;
    flex-grow: 1;
    min-width: 480px;
    max-width: 480px;
    @media screen and (max-width: 1024px) {
      position: relative;
      min-width: auto;
      padding: 128px 16px 32px 16px;
    }
  }
  &__image {
    align-self: center;
    width: 60%;
    object-fit: contain;
    //height: 640px;
    padding: 0;
    box-sizing: border-box;
    @media screen and (max-width: 1024px) {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: auto;
      padding: 0;
      top: -64px;
    }
    img {
      object-fit: contain;
      overflow: hidden;
    }
  }
  &__title {
    display: inline-block;
    font-family: serif;
    @include font-size(48);
    font-weight: normal;
    span {
      background: #fff;
      padding: 4px;
    }
    @media screen and (max-width: 1024px) {
      @include font-size(32);
    }
  }
  &__subTitle {
    @include font-size(18);
    font-weight: bold;
    margin: 48px 0;
    @media screen and (max-width: 1024px) {
      @include font-size(14);
      margin: 48px 0 24px 0;
    }
  }
}
