@use '../../foundation/helpers' as *;

.c-section {
  position: relative;
  margin: 48px auto;
  max-width: 1120px;
  box-sizing: border-box;
  padding: 48px;
  background: #fff;
  border-radius: 12px;
  @media screen and (max-width: 1024px) {
    margin: 24px 16px;
    max-width: none;
    padding: 24px;
  }
  &__title {
    position: relative;
    @include font-size(24);
    font-weight: bold;
    border-bottom: solid 2px #ddd;
    padding: 0 0 16px 0;
    &:before {
      position: absolute;
      bottom: -2px;
      content: "";
      width: 240px;
      height: 2px;
      background: $color-primary;
    }
    @media screen and (max-width: 1024px) {
      @include font-size(21);
    }
  }
  &__titleButton {
    position: absolute;
    top: 24px;
    right: 48px;
    @include font-size(16);
    @media screen and (max-width: 1024px) {
      position: relative;
      top: auto;
      right: auto;
      margin: 24px 0;
      width: 100%;
    }
  }
  &__text {
    @include font-size(18);
    margin: 24px 0;
    @media screen and (max-width: 1024px) {
      @include font-size(14);
    }
  }
  &__subTitle {
    font-weight: normal;
    @include font-size(24);
    text-align: center;
    margin: 0 0 24px 0;
    @media screen and (max-width: 1024px) {
      @include font-size(21);
      margin: 0 0 8px 0;
    }
  }
  &--full {
    width: 100%;
    max-width: 100%;
    @media screen and (max-width: 1024px) {
      max-width: none;
      padding: 0;
    }
  }
}
