@use '../../foundation/helpers' as *;

.c-tabMenu {
  display: flex;
  margin: 0 0 24px 0;
  &--between {
    justify-content: space-between;
  }
  @include mobile {
    overflow-x: scroll;
  }
  &__item {
    margin: 0 16px 0 0;
    &:last-child {
      margin: 0;
    }
    span,
    a {
      display: block;
      margin: 0 16px 0 0;
      border-radius: 100px;
      padding: 0 16px;
      height: 36px;
      line-height: 36px;
      background: #fff;
      text-align: center;
      color: $color-text;
      width: max-content;
      box-sizing: border-box;
      &:hover {
        background: $color-gray-900;
        cursor: pointer;
        color: #fff;
      }
      &:last-child {
        margin: 0;
      }
    }
    &--outline {
      span,
      a {
        border: solid 1px $color-gray-900;
      }
    }
    &.is-active {
      span,
      a {
        background: $color-gray-900;
        cursor: pointer;
        color: #fff;
      }
    }
  }
}
