<% meta = { pageTitle:'ホーム', desc:'このサイトの説明' }; %>

<%- include('templates/_head') -%>
<%- include('templates/_header') -%>

<div class="l-wrapper p-index">

<div class="c-mv">
  <div class="c-mv__inner">
    <div class="c-mv__image">
    </div>
  </div>
</div>

<div class="c-section">
  <h3 class="p-swiper__title">イオンタウン出店者募集サイトです。全国のイオンタウンに出店してみませんか？<br />
    出店可能な店舗や各店舗の出店条件等をご覧いただけます。お気軽にお問い合わせください。</h3>
  <!-- <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="" src="/k/images/swiper1.png" />
        <p class="swiper-text">バレンタインフェア<small>2023年1月20日〜2023年2月14日</small></p>
      </div>
      <div class="swiper-slide">
        <img class="" src="/k/images/swiper2.png" />
        <p class="swiper-text">パン祭り<small>2023年1月20日〜2023年2月14日</small></p>
      </div>
      <div class="swiper-slide">
        <img class="" src="/k/images/swiper3.png" />
        <p class="swiper-text">子供服フェア<small>2023年1月20日〜2023年2月14日</small></p>
      </div>
      <div class="swiper-slide">
        <img class="" src="/k/images/swiper4.png" />
        <p class="swiper-text">スイーツフェア<small>2023年1月20日〜2023年2月14日</small></p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div> -->
</div>

<div class="c-section">
  <h3 class="c-section__title">出店できる施設を探す</h3>
  <p class="c-section__titleButton"><a href="/lease/buildings" class="c-button c-button--primary">施設一覧</a></p>
  <div class="p-indexBrandList">
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-yukarigaoka.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウンユーカリが丘</p>
        <p class="p-indexBrandList__address">千葉県佐倉市</p>
        <p class="p-indexBrandList__text">京成本線ユーカリが丘駅から徒歩10分。国道296号沿いにあり電車・車ともに良好なアクセス。館内は、3階建ての2棟設計で、連絡通路で直結し非常に回遊性の高い造りです。総合スーパーである「イオンスタイル」を核に衣料品・飲食・教室・理美容・各種サービスとバラエティ豊かな約120の専門店が集積、また、近隣にタワーマンション4棟あり。2023年11月には新築マンション1棟が入居開始し、30~40代ファミリーを中心に人口増加が見込まれるエリアです。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/yukarigaoka" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-yoshikawaminami.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン吉川美南</p>
        <p class="p-indexBrandList__address">埼玉県吉川市</p>
        <p class="p-indexBrandList__text">2012年3月にＪＲ武蔵野線の新駅として開業した吉川美南駅の駅前に位置しており、東京駅への直通列車も通り、都心部へのアクセスに恵まれたエリアです。都心で働く方々のベッドタウンとして、今後ますます人口の増加と街の発展が見込まれています。川を挟んで東西に分かれる2棟の施設は、連絡通路で移動が可能で、非常に回遊性の高い造りになっています。2021年7月にオープンした東街区では、「癒しと食の総合リゾート」やウエルネスな生活を楽しくサポートする専門店などを中心に、地域の皆さまのくらしをちょっと特別にする、新たなライフスタイルをご提案してまいります。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/yoshikawaminami" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-kamisato.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン上里</p>
        <p class="p-indexBrandList__address">埼玉県児玉郡</p>
        <p class="p-indexBrandList__text">JR高崎線神保原駅より徒歩、バスで訪れることが可能、国道17号に面しており、電車、車で良好なアクセスです。2階建てのクローズドモールで、雨の日も安心して買い物ができます。食品スーパーのベルクを核に、ファッション、フード、理美容等のサービス等約60の専門店が集積。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/kamisato" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-oyumino.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウンおゆみ野</p>
        <p class="p-indexBrandList__address">千葉県千葉市</p>
        <p class="p-indexBrandList__text">総合スーパーのマックスバリュを核に、ファッション、フード、スクールから理容のサービスまで、バラエティ豊かな約60の専門店を集積。最寄りの京成おゆみ野駅からは、路線バスも出ておりアクセスも良好。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/oyumino" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-naritatomisato.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン成田富里</p>
        <p class="p-indexBrandList__address">千葉県成田市</p>
        <p class="p-indexBrandList__text">JR成田駅、京成成田駅から徒歩10分の場所に位置しており、国道51号線にも接しており電車、徒歩、車でのアクセスが良好なショッピングセンターです。また成田山新勝寺、成田国際空港からも近く、国内外問わず多くの観光客も訪れる地域です。総合スーパーマーケットのマックスバリュを核に、スーパースポーツゼビオ、ヤマダデンキといった大型専門店をはじめ、ファッション、フード、サービスの約60の専門店が集積しています。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/naritatomisato" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-kanazawashimeno.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン金沢示野</p>
        <p class="p-indexBrandList__address">石川県金沢市</p>
        <p class="p-indexBrandList__text">車で最も便利なショッピングセンターをモットーに、ゾーンごとに目的店舗の近くに車を止めることが出来るので、利便性に優れています。８棟の商業施設がありますが、公道により区画も分かれていますので、ユーザーフレンドリーな作りです。国道8号線沿線に立地し、観光地として日本有数の金沢駅からバスで約20分と車または電車＋バスでアクセスが可能です。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/kanazawashimeno" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-asahi.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン旭</p>
        <p class="p-indexBrandList__address">千葉県旭市</p>
        <p class="p-indexBrandList__text">旭市多世代交流施設おひさまテラスを中心に、県内最大級の無印良品、地元食材をそろえるイオンスタイルを展開し、地域のライフスタイルを応援します。隣接する旭中央病院と道の駅と共に、新しいまちづくり”みらいあさひ”の中で、官と民が協力し持続可能な社会を目指し取り組むショッピングセンターです。旭中央病院東向けに旭駅からコミュニティバスや東京からの高速バスもご利用いただけます。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/asahi" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-fujimino.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウンふじみ野</p>
        <p class="p-indexBrandList__address">埼玉県ふじみ野市</p>
        <p class="p-indexBrandList__text">ふじみ野市役所の目の前に立地し、東武東上線上福岡駅から徒歩15分、JR川越線南古谷駅からバスで10分で訪れることが可能。県道56号線に面しており、車でも来店しやすい立地。館内は、中央入口を入ると3階までの吹き抜けスペースがあり、開放的な空間となっています。総合スーパーのイオンスタイルを核に、ファッション、フード、スクールから理美容のサービスまで、バラエティ豊かな95の専門店を集積。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/fujimino" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-mitominami.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン水戸南</p>
        <p class="p-indexBrandList__address">茨城県東茨城郡</p>
        <p class="p-indexBrandList__text">駐車場を囲む形で、種類別に４つの棟、モール棟・物販棟・アミューズ棟・飲食棟があり、一周回ってお買い物、お食事を楽しむことができます。メインとなるモール棟はオープンエアーで気持ちよくお買い物が楽しめます。週末にはセンターコートで地元アーティストなどのライブもあり、集客が見込める施設です。また、茨城県で人口最大都市の水戸市に隣接した茨城町で唯一のショッピングセンターとなります。４世代でくつろぎ、楽しめるショッピングセンターを目指しております。国道６号線に面した立地でSCの３方面からの入出庫可能で車でのアクセス良好。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/mitominami" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-moriya.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン守谷</p>
        <p class="p-indexBrandList__address">茨城県守谷市</p>
        <p class="p-indexBrandList__text">核店舗のフードスクエアカスミをはじめ、ユニクロ、イオンシネマ、スポーツデポ、無印良品、カルディコーヒーファーム、スターバックスなど地域一番店やイオンタウン守谷にしかない専門店が多数出店しております。国道294号線に面し、かつ、つくばエキスプレス守谷駅近くに立地、車でも電車でも良好なアクセスが可能です。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/moriya" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-tateyama.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン館山</p>
        <p class="p-indexBrandList__address">千葉県館山市</p>
        <p class="p-indexBrandList__text">イオン館山店を核に、ヤマダ電機・ニトリがサブ核として約50店舗で構成。2,000台の無料駐車場を有し地元のお客さまはもとより、地域柄年間を通して多くの観光客が訪れます。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/tateyama" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
    <div class="p-indexBrandList__item">
      <div class="p-indexBrandList__image"><img src="/k/images/buildings-nodananakodai.jpg" /></div>
      <div class="p-indexBrandList__inner">
        <p class="p-indexBrandList__title">イオンタウン野田七光台</p>
        <p class="p-indexBrandList__address">千葉県野田市</p>
        <p class="p-indexBrandList__text">国道16号線から車ですぐの所に立地しており、車でのご来場は非常に便利です。また、東武野田線川間駅南口より野田市運行のまめバスがご利用いただけます。スーパーマーケットのマックスバリュを核に、ホームセンター、七光台温泉ファッション、フードから理美容のサービスまで、バラエティ豊かな約40の専門店を集積。また中央のメディカルモール内に医療施設が多く、集約性に優れた非常に便利なショッピングセンターです。</p>
      </div>
      <p class="p-indexBrandList__button"><a href="/lease/buildings/nodananakodai" class="c-outlineButton c-outlineButton--primary" target="_blank" rel="noopener noreferrer">出店区画を見る</a></p>
    </div>
  </div>
  <p class="p-indexBrandList__link"><a href="/lease/inquiries">その他施設は、こちらからお問い合わせください</a></p>
</div>

<div class="c-section" id="sec3">
  <h2 class="c-section__title">イオンタウンと一緒にSCづくりに取り組んでいきませんか？</h2>
  <p class="c-section__text">イオンタウンは地域の皆様の拠点の役割を果たす新たなSCフォーマットの開発を行っていきます。様々な業種業態（物販・飲食・サービス）の応募をお待ちしております。</p>
  <p class="c-section__text">SCは効率よく集客できる複合型商業施設。イオンタウンが手がけるショッピングセンターは、全国規模の豊富な土地情報から、商圏や消費者動向を見据えた最適な立地を選定するだけでなく、建物も設計から施工・アフターフォローまでバックアップ。さらに運営・管理ではこれまでの豊富なノウハウを活かし、無駄のないローコスト運営を推進し、適切な事業戦略を支援。テナントさまのニーズに合わせた事業戦略を、集客力、話題性に満ちたショッピングセンターの開発により、トータルにバックアップいたします。</p>
  <div class="p-about">
    <div class="p-about__item">
      <img src="/k/images/pic1.jpg" />
      <p class="p-about__name">クローズドモール</p>
    </div>
    <div class="p-about__item">
      <img src="/k/images/pic2.jpg" />
      <p class="p-about__name">オープンモール</p>
    </div>
    <div class="p-about__item">
      <img src="/k/images/pic3.jpg" />
      <p class="p-about__name">都市型</p>
    </div>
  </div>
  </div>
</div>

<div class="c-section">
  <div class="p-indexDownload">
    <h3 class="c-section__title">出店に関するお問い合わせ</h3>
    <p class="p-indexDownload__text">出店に関するご質問、ご相談がございましたらお気軽にお問い合わせください。</p>
    <p><a href="/lease/inquiries" class="c-button c-button--normal c-button--primary">お問い合わせ</a></p>
    <p class="p-indexDownload__aside">※イオンタウン各店への直接のお問い合わせはご遠慮ください。</p>
  </div>
</div>


</div>
<!--/l-wrapper-->

<%- include('templates/_footer') -%>

<%- include('templates/_foot') -%>
